body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #1d1b31;
  }
  
  .container {
    max-width: 900px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-group {
    width: 48%;
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-transform: uppercase;
  }
  
  button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  button[type="submit"] {
    background-color: blue;
    color: white;
  }
  
  button[type="submit"]:hover {
    background-color: blueviolet;
  }
  
  #backButton {
    background-color: red;
    color: white;
  }
  
  #backButton:hover {
    background-color: darkred;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  